.availibility-component {
    margin-top: 50px;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 20%);
}

.header {
    background-color: #212121;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 30px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
