.App {
  padding-inline: 20%;
  padding-top: 5%;
}

h1 {
  font-size:20px;
  font-weight:normal;
  margin-top:0;
  padding:0;
}

.form-component {
  display: flex;
  flex-direction: row;
  justify-content: center;
}